:root {
    /* Color Palette*/
    --white: white;
    --black: black;
    --debug: red;
    --codepen: #1F2229;
    /*  */
    /* Other Variables */
    --default-shadow: 0 2px 5px black;
    --default-radius: 10px;
    /*  */
}

#welcome-section {
    height: 100vh;
    /* background-color: var(--black); */
}

h1 {
    font-family: 'Lobster', cursive;
}

main {
    margin-top: 56px;
}

.center {
    display: grid;
    display: grid;
    justify-content: center;
    align-content: center;
}

.main-section {
    /* background-color: var(--debug); */
    /* margin: 1rem; */
}

.columns-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    padding: 1rem;
}

.project-wrapper {
    /* background-color: var(--debug); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-tile {
    display: flex;
    background-color: var(--codepen);
    border-radius: var(--default-radius);
    margin: 1rem;
    padding: 1rem;
}

.project-img {
    border-radius: var(--default-radius);
    max-width: 500px;
}

section>header {
    text-transform: capitalize;
    text-align: center;
    font-size: 24pt;
    color: var(--white);
    padding: 1rem;
    background-color: var(--codepen);
}

#profile-pic {
    /* align-self: center; */
    border-radius: 50%;
    box-shadow: var(--default-shadow);
}

@media (max-width: 768px) {
    .columns-wrapper {
        grid-template-columns: 1fr;
    }
}

footer {
    text-align: center;
}