:root {
    /* Color Palette*/
    --white: white;
    --black: black;
    /*  */
    /* Other Variables */
    --default-shadow: 0 2px 5px black;
    --default-radius: 10px;
    /*  */
}

.navbar {}

main {
    margin-top: 56px;
}

.main-section {
    background-color: red;
    margin: 1rem;
}

.project-img {
    display: none;
    max-width: 500px;
}

section>header {
    text-transform: capitalize;
}

footer {
    text-align: center;
}