:root {
    /* Color Palette*/
    --white: white;
    --black: black;
    /*  */
    /* Other Variables */
    --default-shadow: 0 2px 5px black;
    --default-radius: 10px;
    /*  */
}

main {
    margin-top: 56px;
}

section {}

section>header {
    text-transform: capitalize;
}

footer {
    text-align: center;
}